<div class="container ">
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ma carte</h5>
    <p class="card-text">Description de ma carte</p>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ma carte</h5>
    <p class="card-text">Description de ma carte</p>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">65%</div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Ma carte</h5>
    <p class="card-text">Description de ma carte</p>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
    </div>
  </div>
</div>

</div>
  <h1 class="fw-bolder text-center fw-bolder">Mon suivi</h1>
    <p class="text-center fw-bolder">Mes conseils : <%= @question.content.capitalize %>.</p>
    <%# if current_user.admin %>
      <%#= form_with url: save_task_question_answer_tasks_path(@question, @answer), method: :post do |form| %>
        <%#= form.submit "Enregistrer ma recherche", { :action => "dashboard", :controller => "admin" } %>
      <%# end %>
    <%# elsif current_user.user %>
      <%#= form_with url: save_task_question_answer_tasks_path(@question, @answer), method: :post do |form| %>
        <%#= form.submit "Enregistrer ma recherche", tasks_path %>
      <%# end %>
    <%# end %>

  <div class="text-center">
  <p class="text-center"><%= link_to "Télécharger ma fiche", question_answer_tasks_path(@question, @answer, format: :pdf), target: :_blank, class: "text-decoration-none" %></p>
    <button class="border border-0"><%= link_to "Reposer une question", edit_question_path(@question), class: "btn btn-primary" %></button>
  </div>
    <div class="card-wrapper pt-5">
      <div class="slide-content d-flex justify-content-center">
        <div class="widget-list row row-cols-1 row-cols-md-3 g-3">
          <% @answer.tasks.each do |task|%>
            <div class="shadow card mb-3 widget"
              data-disable-card-target="card"         >
              <div class="card-header bg-transparent " >
                <div class="form-check form-check-inline"
                  data-controller="disable-card task"
                  data-action="click->disable-card#disable ">
                  <input data-action="click->task#update" class="form-check-input" type="checkbox" role="switch" id="disableCard-<%= task.id %>" data-url="<%= question_answer_task_path(@question, @answer, task) %>" data-action="click->task#update" >

                  <div >
                    <%= button_to '❌', task_path(task), class: 'button', method: :delete, data: {turbo_method: :delete} %>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <p class="description"><%= task.content %></p>
              </div>
              <div class="card-footer bg-transparent ">🏅 20%</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>
