<div class="container">
  <div class="slide-container">
    <h2>Bonjour <%= current_user.email %></h2>
    <h1 class="fw-bolder headline load-hidden">Les conseils de ECOMA</h1>
    <h3 class="headline">Je veux : <%= @question.content %></h3>
    <div>🏅 Parcours 0%</div>
    <div><p><a href="#"><%= image_tag "pdf.png", class: "icon-pdf" %> Exporter en format PDF</a></p></div>

    <div class="card-wrapper">
      <div class="slide-content">
        <div class="widget-list row row-cols-1 row-cols-md-3 g-3">
          <% @answer.tasks.each do |task| %>
            <div class="card shadow mb-3 widget"
              data-action="click->disable-card#disable"
              data-disable-card-target="card"
              data-controller="disable-card" >

              <div class="card-header bg-transparent " >
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" role="switch" id="disableCard-<%= task.id %>" >
                  <label class="form-check-label" for="disableCard-<%= task.id %>"> </label>
                </div>
                <div>
                  <%= link_to "#", data: { target: "task.card", taskId: task.id }, action: "click->task#destroy" do %>
                    <%= image_tag "close2.png", class: "avatar-close" %>
                  <% end %>
                </div>
              </div>

              <div class="card-body">
                <p class="description"><%= task.content %></p>
              </div>

              <div class="card-footer bg-transparent">🏅 20%</div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
